<!-- Pasar la informacion relevante por ViewData o ViewBags -->
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/BootStrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/BootStrap/bootstrap-grid.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/Dashboard.css" rel="stylesheet" />
    <title>Dashboard</title>
    <style>
        a, u {
            text-decoration: none;
        };

        a:hover, u:hover {
            color: white;
            text-decoration: none;
            cursor: pointer;
        }

        </style>
</head>
<body>
    <div class="container-fluid main_content">
        <div class="jumbotron bg-transparent">
            <div class="row">

                <!--Source for cards with flex: https://www.codeply.com/go/l1KAQtjjbA-->
                <!--Styling Bootstrap cards source: https://mdbootstrap.com/docs/jquery/components/cards/-->

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card flex-row flex-wrap shadow-lg">
                        <div class="card-header border-0 bg-transparent">
                            <img src="~/Content/Resources/bmi.png" alt="">
                        </div>
                        <div class="card-block px-2">
                            <br>
                            <h4 class="card-title text-center">IMC</h4>
                            <p class="card-text display-2 text-center">  @{
                                if (ViewBag.Agua_Nueva != null)
                                {
                                    if (Convert.ToDouble(ViewBag.IMC) < Convert.ToDouble(ViewBag.IMC_Nueva))
                                    {
                                        <span style="color:green"> @ViewBag.IMC_Nueva </span>
                                    }
                                    if (Convert.ToDouble(ViewBag.IMC) > Convert.ToDouble(ViewBag.IMC_Nueva))
                                    {
                                        <span style="color:red"> @ViewBag.IMC_Nueva </span>
                                    }
                                    else if (Convert.ToDouble(ViewBag.IMC) == Convert.ToDouble(ViewBag.IMC_Nueva))
                                    {
                                        <span style="color:gray"> @ViewBag.IMC_Nueva </span>
                                    }
                                }
                                else
                                {
                                    <span>  @ViewBag.IMC</span>
                                }
                            }
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card flex-row flex-wrap shadow-lg">
                        <div class="card-header border-0 bg-transparent">
                            <img src="~/Content/Resources/Water-icon.png" alt="">
                        </div>
                        <div class="card-block px-2">
                            <br>
                            <h4 class="card-title text-center">Agua Recomendada</h4>
                            <p class="card-text display-2 text-center">
                                @{
                                    if (ViewBag.Agua_Nueva != null)
                                    {
                                        if (Convert.ToUInt32(ViewBag.Agua) < Convert.ToUInt32(ViewBag.Agua_Nueva))
                                        {
                                            <span style="color:green"> @ViewBag.Agua_Nueva </span>
                                        }
                                        if (Convert.ToUInt32(ViewBag.Agua) > Convert.ToUInt32(ViewBag.Agua_Nueva))
                                        {
                                            <span style="color:red"> @ViewBag.Agua_Nueva </span>
                                        }
                                        else if (Convert.ToUInt32(ViewBag.Agua) == Convert.ToUInt32(ViewBag.Agua_Nueva))
                                        {
                                            <span style="color:gray"> @ViewBag.Agua_Nueva </span>
                                        }
                                    }
                                    else
                                    {
                                        <span>  @ViewBag.Agua</span>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card flex-row flex-wrap shadow-lg">
                        <div class="card-header border-0 bg-transparent">
                            <img src="~/Content/Resources/calories.png" alt="">
                        </div>
                        <div class="card-block px-4 w-100" style="position:absolute">
                            <br>
                            <h4 class="card-title text-center">Calorias</h4>
                            <p class="card-text display-2 text-center"> k/cal </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Button en Sandwich -->
        @*@using (Html.("LoadData", "Home", FormMethod.Post))
        {*@ 
        <div class="btn_sandwich">
            @Html.ActionLink("Mis Datos","MisDatos","",new { @class = "dashboard_btn" })
            
        </div>
        @*}*@
    </div>
</body>
</html>
