<!-- Pasar la informacion relevante por ViewData o ViewBags -->
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/BootStrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/BootStrap/bootstrap-grid.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/Dashboard.css" rel="stylesheet" />
    <title>Dashboard</title>
    <style>
        a, u {
            text-decoration: none;
        };

        a:hover, u:hover {
            color: white;
            text-decoration: none;
            cursor: pointer;
        }

        </style>
</head>
<body>
    <div class="container-fluid main_content">
        <div class="jumbotron bg-transparent">
            <div class="row">

                <!--Source for cards with flex: https://www.codeply.com/go/l1KAQtjjbA-->
                <!--Styling Bootstrap cards source: https://mdbootstrap.com/docs/jquery/components/cards/-->

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card flex-row flex-wrap shadow-lg">
                        <div class="card-header border-0 bg-transparent">
                            <img src="~/Content/Resources/bmi.png" alt="">
                        </div>
                        <div class="card-block px-2">
                            <br>
                            <h4 class="card-title text-center">IMC</h4>
                            <p class="card-text display-2 text-center">
                                @{
                                    if (ViewBag.Agua_Nueva != null)
                                    {
                                        if (Convert.ToDouble(ViewBag.IMC) < Convert.ToDouble(ViewBag.IMC_Nueva))
                                        {
                                            <span style="color:green"> @ViewBag.IMC_Nueva </span>
                                        }
                                        if (Convert.ToDouble(ViewBag.IMC) > Convert.ToDouble(ViewBag.IMC_Nueva))
                                        {
                                            <span style="color:red"> @ViewBag.IMC_Nueva </span>
                                        }
                                        else if (Convert.ToDouble(ViewBag.IMC) == Convert.ToDouble(ViewBag.IMC_Nueva))
                                        {
                                            <span style="color:gray"> @ViewBag.IMC_Nueva </span>
                                        }
                                    }
                                    else
                                    {
                                        <span>  @ViewBag.IMC</span>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card flex-row flex-wrap shadow-lg">
                        <div class="card-header border-0 bg-transparent">
                            <img src="~/Content/Resources/Water-icon.png" alt="">
                        </div>
                        <div class="card-block px-2">
                            <br>
                            <h4 class="card-title text-center">Agua Recomendada</h4>
                            <p class="card-text display-2 text-center">
                                @{
                                    if (ViewBag.Agua_Nueva != null)
                                    {
                                        if (Convert.ToUInt32(ViewBag.Agua) < Convert.ToUInt32(ViewBag.Agua_Nueva))
                                        {
                                            <span style="color:green"> @ViewBag.Agua_Nueva </span>
                                        }
                                        if (Convert.ToUInt32(ViewBag.Agua) > Convert.ToUInt32(ViewBag.Agua_Nueva))
                                        {
                                            <span style="color:red"> @ViewBag.Agua_Nueva </span>
                                        }
                                        else if (Convert.ToUInt32(ViewBag.Agua) == Convert.ToUInt32(ViewBag.Agua_Nueva))
                                        {
                                            <span style="color:gray"> @ViewBag.Agua_Nueva </span>
                                        }
                                    }
                                    else
                                    {
                                        <span>  @ViewBag.Agua</span>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="btn_sandwich">
            @Html.ActionLink("Mis Datos", "MisDatos", "", new { @class = "dashboard_btn" })
        </div>
    </div>
    <!-- Aca contenido acerca de los datos de arriba, explicativo -->
    <div class="container mt-5">
        <div class="row mt-2 mb-2">
            <div class="col-6">
                <p>
                    What is Lorem Ipsum?

                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Why do we use it?

                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    Where does it come from?

                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
            </div>
        </div>
    </div>
    <!-- Aca contenido acerca de los datos de arriba, explicativo -->

    <div class="container-fluid main_content">
        <div class="jumbotron bg-transparent">

            <div class="row mt-4">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card flex-row flex-wrap shadow-lg">
                        <div class="card-header border-0 bg-transparent">
                            <img src="~/Content/Resources/calories.png" alt="">
                        </div>
                        <div class="card-block px-4 w-100" style="position:absolute">
                            <br>
                            <h4 class="card-title text-center">Calorias</h4>
                            <p class="card-text display-2 text-center">
                                @{
                                    if (ViewBag.Calorias_nueva != null)
                                    {
                                        if (Convert.ToDouble(ViewBag.Calorias) < Convert.ToDouble(ViewBag.Calorias_nueva))
                                        {
                                            <span style="color:green"> @ViewBag.Calorias_nueva </span>
                                        }
                                        if (Convert.ToDouble(ViewBag.Calorias) == Convert.ToDouble(ViewBag.Calorias_nueva))
                                        {
                                            <span style="color:gray"> @ViewBag.Calorias_nueva </span>
                                        }
                                        if (Convert.ToDouble(ViewBag.Calorias) > Convert.ToDouble(ViewBag.Calorias_nueva))
                                        {
                                            <span style="color:red"> @ViewBag.Calorias_nueva </span>
                                        }
                                    }
                                    else
                                    {
                                        <span> @ViewBag.Calorias </span>
                                    }

                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="btn_sandwich">
        @Html.ActionLink("Nivel de Actividad", "Factor_de_Actividad", "", new { @class = "dashboard_btn" })
    </div>
    <div class="container mt-5">
        <div class="row mt-2 mb-2">
            <div class="col-6">
                <p>
                    What is Lorem Ipsum?

                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Why do we use it?                  
                </p>
            </div>
        </div>
    </div>

</body>
</html>
