@model Victus.Models.Dieta

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Mi Dieta </title>
    @*<link href="~/Content/CSS/PruebaCalorica.css" rel="stylesheet" /*@>
    @*<script src="~/Content/JS/radio_buttons.js"></script>*@
    @*<script src="~/Content/JS/transition.js"></script>*@
    <script src="https://kit.fontawesome.com/4e9acb012c.js"></script>
</head>
<body>
    
        <div class="volver_btn">
            <a href='@Url.Action("Dashboard", "Home")'><i class="fas fa-arrow-circle-left fa-5x"></i></a>
        </div>
        <div class="box">

            <h1> Mi Dieta </h1>
            @using (Html.BeginForm())
            {
                <div class="button_radio" onclick="SelectThis(this)">
                    @Html.Label("Subir peso", new { @for = "subir" })
                    @Html.RadioButtonFor(x => x.objetivo, "subir", new { @id = "subir", @class = "radio" })
                </div>

                <div class="button_radio" onclick="SelectThis(this)">
                    @Html.Label("Bajar Peso", new { @for = "bajar" })
                    @Html.RadioButtonFor(x => x.objetivo, "bajar", new { @id = "bajar", @class = "radio" })
                </div>

                <div class="button_radio" onclick="SelectThis(this)">
                    @Html.Label("Mantener peso", new { @for = "mantener" })
                    @Html.RadioButtonFor(x => x.objetivo, "mantener", new { @id = "mantener", @class = "radio" })
                </div>

               
                <input type="submit" value="Actualizar">
            }


        </div>
    
</body>
</html>
